.body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aqua;
}

.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.post {
    max-width: 600px;
}
.tables {
    display: contents;

    max-width: 800px;
}
.nav-btn {
    color: aliceblue !important;
    border-color: azure;
}
.navbar-btn:hover {
    border-color: rgb(126, 126, 245) !important ;
}
